@import url('https://fonts.googleapis.com/css?family=Roboto');

body, html {
  margin: 0;
}

body{
  background-color:   #2b2525;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#title,
#description {
  color: white;
  font-family: 'Roboto', 'sans-serif'
}

#title {
  font-size: 4em;
  margin-top: 20px;
  margin-bottom: 0px;
}

.button-list {
  margin: 18px 0px;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: #fc9272;
  outline: none;
  padding: 0px 20px;
}

#source {
  margin: 20px 0;
  font-family: 'Roboto', 'sans-serif';
  color: white;
}

text {
  font-size: 10px;
}

rect:hover {
  opacity: 0.8;
}

i {
  color: white;
}

