head
  link(
    rel='stylesheet' 
    href='https://use.fontawesome.com/releases/v5.3.1/css/all.css' 
    integrity='sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU' 
    crossorigin='anonymous')
#root
  h1#title Dataset
  div#description Percentage of adults age 25 and older with a bachelor's degree or higher (2010 - 2014)
  div.button-list
    a(id='videogames') 
      i(class='fas fa-gamepad fa-3x')
    a(id='movies')
      i(class='fas fa-film fa-3x')
    a(id='kickstarter')
      i(class='fab fa-kickstarter-k fa-3x')
  svg(width='1000' height='450')
  svg#legend(width='500')
